* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Outfit', sans-serif;
  background-color: #dff9fb;
}
.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 0 3rem;
}

/* header */
.header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #e9ecef;
}
.header .date {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.header .day {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: #30336b;
}
.header .status {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e74c3c;
}

.body {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  overflow: auto;
}

/* list */
.list-container {
  width: 100%;
}
.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 10px;
}
.item div {
  display: flex;
  flex: 3;
  align-items: center;
}
.item input {
  margin-right: 20px;
}
.item .content {
  color: #2f3640;
}
.item .delete-button {
  all: unset;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item .delete-button img {
  width: 55%;
  height: 55%;
  object-fit: contain;
}
.item:hover {
  background-color: #dff9fb;
}
.item:hover .delete-button {
  background-color: #e8ebef;
}
.line-through {
  text-decoration: line-through;
}

/* form */
.form-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8ebef;
}
.form-container form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.form-container form input {
  width: 80%;
  font-size: 1.2rem;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dff9fb;
}
.hidden {
  bottom: -120px;
}

/* add button */
.add-button {
  all: unset;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #3498db;

  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in;
}
.clicked {
  transform: translateX(-50%) rotate(45deg);
  transform-origin: 50% 50%;
  background-color: #00b894;
}
